<!-- <hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-parent></app-parent> -->
<!-- <app-form></app-form> -->
<!-- <app-trackby></app-trackby> -->
<!-- <app-centeralign></app-centeralign> -->
<!-- <app-star-rating></app-star-rating> -->
<!-- <form [formGroup]="galaxyForm" (ngSubmit)="onSubmit()">
    <h1>Galaxy Rating App</h1>
    <div class="form-group">
      <label>
        Rating:
        <app-custom-input formControlName="rating"></app-custom-input>
      </label>
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
  </form> -->
<!-- <app-cva-input [formControl]="getText" min=4></app-cva-input> -->
<!-- <button [ngClass]="{'disabled': getText.valid}" (click)="getValue()">Get Value</button> -->
<!-- <p appHighlight>Test</p> -->
<!-- <input type="text" appRainbow/> -->
<!-- <app-custom-input></app-custom-input> -->

<!-- <p>Hover over following buttons</p> -->
<!-- <button [appCallout]="'first'">First Item</button> -->
<!-- <button [appCallout]="'second'">Second Item</button> -->
<!-- <button [appCallout]="'third'">Third Item</button> -->

<app-animationif></app-animationif>